@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: rgb(26, 26, 26);
}

/*pasek wyszukiwania*/

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 9999;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.home-link,
.watchlist-link {
    color: white;
    margin-right: 50px;
    text-decoration: none;
}

.home-link:hover,
.watchlist-link:hover {
    text-decoration: underline;
    transform: translateY(-2px);
    cursor: pointer;
}

.movie-name,
.year,
.type {
    background-color: transparent;
    color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    margin-right: 10px;
}

.search-btn {
    padding: 5px 10px;
    background-color: #ffb92a;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-btn:hover{
    background-color: #fda900;
}

#movie-name {
    flex: 1;
    max-width: 250px;
}

#year {
    flex: 1;
    max-width: 125px;
}

.type {
    flex: 1;
    max-width: 265px;
}

input::placeholder {
    color: #a0a0a0;
}


/*wyniki wyszukiwania*/

.result {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.movie-item {
    width: calc(20% - 20px);
    margin: 10px;
    text-align: center;
    flex: 1 1 200px;
}

.movie-poster {
    max-width: 100%;
    height: 320px;
    object-fit: fill;
}

.movie-title {
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: text-decoration 0.3s, transform 0.3s, cursor 0.3s;
}

.movie-title:hover {
    text-decoration: underline;
    transform: translateY(-2px);
}

.container button:hover,
.movie-title:hover {
    cursor: pointer;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#back-btn,
#next-btn {
    padding: 10px 20px;
    width: 100px;
    font-size: 16px;
    background-color: #ffb92a;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
}