@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: rgb(26, 26, 26);;
}

.container {
    font-size: 16px;
    width: 90vw;
    max-width: 40em;
    padding: 3em 1.8em;
    background-color: #1e293b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.6em;
    box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}

#movie-name {
    width: auto;
    max-width: 100%;
}

#type {
    width: auto;
    max-width: 70%;
}

#year {
    width: auto;
    max-width: 30%;
    margin-right: 10px;
}

input::placeholder {
    color: #a0a0a0;
}

.movie-name-container,
.search-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.movie-name-container input,
.search-container input {
    background-color: transparent;
    border: 1px solid #a0a0a0;
    color: #fff;
    padding: 0.7em;
    font-size: 0.9em;
    outline: none;
    border-radius: 0.3em;
    flex: 1;
}

.movie-name-container input {
    margin-bottom: 10px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.button-container button {
    background-color: #ffb92a;
    border: none;
    cursor: pointer;
    padding: 0.7em 1.5em;
    font-size: 0.9em;
    outline: none;
    border-radius: 0.3em;
    width: 100%;
}